.bottom-input-container {
  display: flex;
  align-items: center;
  
  max-width: 800px; 
  width: calc(100% - 5pt); 

  border: 1px solid rgba(224, 222, 244, 0.2); 
  border-radius: 8px; 
  background-color: rgba(31, 29, 46, 0.7); 
}

.browser-dropdown {
  position: relative;
  width: 120px; 
}

.browser-dropdown .custom-dropdown-input {
  width: 100%;
  padding: 10px 15px; 
  border: none; 
  border-right: 1px solid rgba(224, 222, 244, 0.2); 
  background-color: transparent; 
  color: #e0def4;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  caret-color: transparent; 
  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #e0def4; 
  transition: transform 0.2s ease;
  pointer-events: none; 
  z-index: 10; 
}

.dropdown-arrow::before {
  content: '▾';
}

.browser-dropdown.active .dropdown-arrow { 
  transform: translateY(-50%) rotate(180deg);
}

.browser-dropdown .custom-dropdown-input::placeholder {
  color: #908caa;
}

.browser-dropdown.active .custom-dropdown-list {
  display: block;
}

.browser-dropdown .custom-dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(31, 29, 46, 0.9); 
  border: 1px solid rgba(224, 222, 244, 0.2);
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100; 
  display: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.browser-dropdown .custom-dropdown-list-item {
  padding: 10px 15px;
  color: #e0def4;
  cursor: pointer;
}

.browser-dropdown .custom-dropdown-list-item:hover {
  background-color: rgba(224, 222, 244, 0.1);
}

.bottom-input {
  flex-grow: 1; 
  width: 100%; 
  padding: 10px 15px;
  border: none; 
  background-color: transparent; 
  color: #e0def4; 
  font-size: 16px;
  outline: none;
  border-right: none; 
}

.bottom-input::placeholder {
  color: #908caa; 
}

.search-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  padding: 10px 5px; 
  color: #e0def4; 
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; 
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-arrow:hover {
  background-color: rgba(224, 222, 244, 0.1); 
}
