<div class="top-inner-container">
  <div class="bottom-input-container">
    <div class="custom-dropdown browser-dropdown">
      <input type="text" id="search-engine-select" class="custom-dropdown-input" placeholder="Search Engine" readonly>
      <span class="dropdown-arrow"></span>
      <input type="hidden" id="search-engine-select_hidden" data-setting-key="searchEngine.selected">
      <div class="custom-dropdown-list" id="search-engine-select-dropdown-list"></div>
    </div>
    <input type="text" id="main-input" class="bottom-input" placeholder="Enter command...">
    <span class="search-arrow">▶</span>
  </div>
</div>
